@font-face {
    font-family: "ChaletComprime-CologneSixty";
    src: local('Chalet Comprime Cologne Sixty'), local('Chalet-Comprime-Cologne-Sixty'),
        url('fonts/ChaletComprime-CologneSixty.woff2') format('woff2'),
        url('fonts/ChaletComprime-CologneSixty.woff') format('woff'),
        url('fonts/ChaletComprime-CologneSixty.ttf') format('truetype');
}

body {
    font-family: 'ChaletComprime-CologneSixty';
    font-style: normal;
    font-weight: light;
    font-size: 27px;
    text-shadow:
        -1px -1px 0 rgba(0,0,0,0.6),
        0 -1px 0 rgba(0,0,0,0.6),
        1px -1px 0 rgba(0,0,0,0.6),
        1px 0 0 rgba(0,0,0,0.6),
        1px 1px 0 rgba(0,0,0,0.6),
        0 1px 0 rgba(0,0,0,0.6),
        -1px 1px 0 rgba(0,0,0,0.6),
        -1px 0 0 rgba(0,0,0,0.6);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: transparent;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    position: relative;
}

#hud-container {
    position: absolute;
    left: 16%;
    bottom: 1.5%;
}

#streetlabel {
    color: #8B8B8B;
}

#dir-text {
    color: #8365E0;
}

#street-text {
    color: white;
}


#postal {
    color: #8365E0;
}

#postal-text {
    color: white;
}


#aop-pt {
    color: #8365E0;
}

#aop-text {
    color: white;
}

#pt-text {
    color: #DE3232;
}