@font-face {
  font-family: "ChaletComprime-CologneSixty";
  src: local("Chalet Comprime Cologne Sixty"),
    local("Chalet-Comprime-Cologne-Sixty"),
    url("fonts/ChaletComprime-CologneSixty.woff2") format("woff2"),
    url("fonts/ChaletComprime-CologneSixty.woff") format("woff"),
    url("fonts/ChaletComprime-CologneSixty.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: transparent;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  position: relative;
}

#hud-container {
  position: absolute;
  left: 11.4em;
  bottom: 0.6em;
  font-family: "ChaletComprime-CologneSixty";
  font-style: normal;
  font-weight: light;
  font-size: 2.5vh;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6), 0 -1px 0 rgba(0, 0, 0, 0.6),
    1px -1px 0 rgba(0, 0, 0, 0.6), 1px 0 0 rgba(0, 0, 0, 0.6),
    1px 1px 0 rgba(0, 0, 0, 0.6), 0 1px 0 rgba(0, 0, 0, 0.6),
    -1px 1px 0 rgba(0, 0, 0, 0.6), -1px 0 0 rgba(0, 0, 0, 0.6);
}
